*.psd filter=lfs diff=lfs merge=lfs -text
web1 filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
amplify filter=lfs diff=lfs merge=lfs -text
package-lock.json filter=lfs diff=lfs merge=lfs -text
package.json filter=lfs diff=lfs merge=lfs -text
public filter=lfs diff=lfs merge=lfs -text
node_modules filter=lfs diff=lfs merge=lfs -text
node_modules.textClipping filter=lfs diff=lfs merge=lfs -text
public3 filter=lfs diff=lfs merge=lfs -text
public4 filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
